@model HistoryViewModel
@using ToDoList.EnumData;
@{
    ViewData["Title"] = "History";
    
    var categoryMap = Model.Categories.ToDictionary(c => c.Id, c => c.Name);
}






<header>
    <div class="header-container">
        <form method="post" asp-controller="ToDo" asp-action="Change" class="storageChooser">
            <label>Choose storage:</label>
            <select asp-for="StorageTypeModel" name="StorageType" class="storageInput">
                @if (Model.selectedType == StorageType.XML)
                {
                    <option value="@StorageType.XML" selected>XML</option>
                    <option value="@StorageType.SQL">SQL</option>
                }
                else if (Model.selectedType == StorageType.SQL)
                {
                    <option value="@StorageType.XML">XML</option>
                    <option value="@StorageType.SQL" selected>SQL</option>
                }
                else
                {
                    <option value="@StorageType.XML">XML</option>
                    <option value="@StorageType.SQL">SQL</option>
                }
            </select>
            <button class="storageBtn" type="submit">Change</button>
        </form>
    </div>
</header>

<main>
<!--Static button-->
<div class="fixed-button-left">
    <a href="/todo/index" class="button static-button">
        <i class="bi bi-arrow-left-short"></i>
    </a>
</div>

<div class="container">


<div id="tasks">
    <div>Task history:</div>
    @if(Model.Tasks.Any())
    {
        @foreach (var item in Model.Tasks)
        {
        <div class="task">
            <div class="spans">
                    <span class="main">
                            <span class="category">@categoryMap[item.CategoryId]:</span>
                        <span>@item.Title</span>
                    </span>
                     <span class="deadline">
                               @{
                                string deadline = item.Deadline != null ? item.Deadline.Value.ToString("g") : "";
                               }                              
                         @deadline
                      </span>
             </div>
                <div class="buttons">
                    <a href="/todo/recover?id=@item.Id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/> <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/> </svg>
                     </a>
                    <a href="/todo/delete?id=@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                    </a>
                </div>
        </div>
        }
        }
    else
    {
        <div>History is clear</div>
    }
    </div>
</div>
</main>